<% if(username === undefined) { %>
<form method="POST" action="/login">
  <input name="username" type="text">
  <input type="submit" value="Login">
</form>
<% }  else { %>
<form method="POST" action="/logout">
  <label><%= username %></label>
  <input type="submit" value="Logout">
</form>

<% } %>