<% if(currentUser === false) {%>
<a class="btn purple-gradient" href="/login">LOGIN</a>
<a class="btn purple-gradient" href="/register">REGISTER</a>
<% } else { %>
<form method="POST" action="/logout">
  <label><b><%= currentUser %></b></label>
  <br />
  <input class="btn purple-gradient" type="submit" value="Logout" />
</form>
<% } %>
