<% if(currentUser === false) {%>
  <a href="/login">LOGIN</a>
  <a href="/register">REGISTER</a>
<% } else { %>
  <form method="POST" action="/logout">
    <label><%= currentUser %></label>
    <input type="submit" value="Logout">
  </form>
<% } %>