<!DOCTYPE html>
<html lang="en">
<head>
  <h1>Tiny App</h1>
</head>
<body>
    <% include ./partials/_header %>
    <!-- Add your EJS code here -->
  <h2>ShortURL: <%= shortURL %></h2>
  <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
    <input name="newURL" type="text" value="<%= urls[shortURL]['longURL'] %>">
    <input type="submit" value="Update">
  </form>
</body>
</html>