<!DOCTYPE html>
<html lang="en">
<head>
  <h1>Tiny App</h1>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include ./partials/_header %>
    <table><% for( var key in urls) { %>
      <tr>
        <form action="/urls/<%= key %>/delete" method="POST">
          <td> <%= urls[key] %> </td>
          <td><%= key %></td>
          <td><input type="submit" value="Delete"></td>
        </form>
      </tr>
    <% } %>
    </table>

    <a href="/urls/new"><br />Shorten URL</a>

</body>
</html>