<!DOCTYPE html>
<html lang="en">
<head>
  <h1>Tiny App</h1>
</head>
<body>
  <p>404 Page not found</p>
  <img src="http://i3.kym-cdn.com/entries/icons/mobile/000/005/180/YaoMingMeme.jpg" >
</body>
</html>