<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <h2>Tiny App</h2>
    <p>404 Page not found</p>
    <img
      src="http://i3.kym-cdn.com/entries/icons/mobile/000/005/180/YaoMingMeme.jpg"
    />
    <% include ./partials/script %>
  </body>
</html>
